@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The InsightDashBoard!</h1>
    <p>Seamless’ new comprehensive program for tracking startup projects, companies, and technologies!</p>
    @if(!User.Identity.IsAuthenticated)
    {
        <p> Please <a href="/Identity/Account/Login"><b>LOG IN</b></a> for tracking functions.</p>
    }
</div>
