@model UserStartup 
@{
    ViewData["Title"] = "ConfirmRemoveUserStartUp";
}

<h1>Removing User Entry,</h1>

<h3>Are you sure you want to remove @Model.CompanyName from your list?</h3>
<p><a href="/Seamless/RemoveUserStartUp?id=@Model.Id">Yes! Proceed & Remove this StartUp</a></p>
<p><a href="/Seamless/UserFavorites">Go Back To User Favorites</a></p>