@model List<KeyValuePair<string, int>>

<table>
    <tr>
        <th><a href="/Seamless/Keywords?sortType=keyword">Keyword</a></th>
        <th><a href="/Seamless/Keywords">Frequency</a></th>
    </tr>
    @foreach (KeyValuePair<string, int> kvp in Model)
    {
        <tr>
            <td>
                <a href="/Seamless/KeywordDetails?keyword=@kvp.Key&frequency=@kvp.Value">@kvp.Key</a>
            </td>
            <td>
                @kvp.Value
            </td>
        </tr>
    }
</table>