@model List<KeyValuePair<string, int>>

    <div class="container" style="width:60%">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" id="Search" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>
<p></p>
    <div style="display:flex; justify-content:center;">
        <div style="overflow:auto; width:60%; height:677px;">
            <table class="table-striped" style="width:100%"> 
                <tr>
                    <th style="font-size:115%;padding-left:2em"><a href="/Seamless/Keywords?sortType=keyword">Keyword Analytics</a></th>
                    <th style="font-size:115%;padding-right:2em;text-align:right"><a href="/Seamless/Keywords">Frequency</a></th>
                </tr>
                @foreach (KeyValuePair<string, int> kvp in Model)
                {
                    <tr class="Search">
                        <td style="font-size:115%; padding-left:2em">
                            <a href="/Seamless/KeywordDetails?keyword=@kvp.Key&frequency=@kvp.Value">@kvp.Key</a>
                        </td>
                        <td style="font-size:115%; padding-right:2em; text-align:right">
                            @kvp.Value
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>