@model UserStartup
@{
    ViewData["Title"] = "SubmissionComplete";
}

<h1>SubmissionComplete</h1>

<p>@Model.DateAdded</p>
<p>@Model.CompanyName</p>

<a class="btn btn-info" href="/Seamless/UserList">GO TO MY LIST</a>