@model List<UserStartup>
@{
    ViewData["Title"] = "User Custom Startups List";
}
    <table>
        <tr>
            <td>
                <h1>UserList</h1>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-outline-primary" href="/Seamless/AddUserDefinedStartup">View/Add Seamless StartUp To List</a>
            </td>
            <td>
                <a class="btn btn-outline-info" href="/Seamless/AddUserDefinedStartup">Add A Custom StartUp To List</a>
            </td>
        </tr>
    </table>

@if (Model.Count == 0)
{
    <br />
    <p class="text-danger"><b>You Haven't Got Anything On Your List Yet!</b></p>
    <p>Begin By <a href="/Seamless/DisplaySeamlessStartups">Viewing/Adding A Seamless Company StartUp</a> to your list or <a href="/Seamless/AddUserDefinedStartUp">Adding Your Own Custom StartUp</a> to your list.</p>
}
else
{
    @foreach (var startUp in Model)
    {
        <p>@startUp.DateAdded</p>
        <p>@startUp.CompanyName</p>
        <p>@startUp.Scout</p>
        <p>@startUp.TwoLineSummary</p>
        <p><a href="/Seamless/ConfirmRemoveUserStartUp?id=@startUp.Id">Remove From Here</a></p>
        if (startUp.Identifier == null)
        {
            <p><a href="/Seamless/UpdateUserStartUp?id=@startUp.Id">Update This Thang</a></p>
        }
        else
        {
            <p class="text-danger">THIS COMES FROM THE SEAMLESS AIRTABLE AND CANNOT BE EDITED</p>
        }
        <p><a href="/Seamless/AddStartupComments?id=@startUp.Id">Add A Comment About This Startup</a></p>
    }
}